
<div id="imagenPrincipal">

    <div id="ContenedorInicio">

        <div id="contenedorSlider" class="bxslider">
            <div><img src="../../../assets/img/pais3.jpg"></div>
            <div><img src="../../../assets/img/pais4.jpg"></div>
            <div><img src="../../../assets/img/pais5.jpg"></div>
            <div><img src="../../../assets/img/pais6.jpg"></div>
            <div><img src="../../../assets/img/pais7.jpg"></div>
          </div>

          
    
          <div id="InfoInicio">
              <h2>Sobre esta web</h2>

              <p>Obtenga informacion sobre paises a traves de  esta web.</p>
          </div>



   </div>


</div>   
    
    
   
    

