*
{
    margin: 0px;
    padding: 0px;
}



/*cabecera*/
#cabecera
{
    width: 100%;
    height: 89px;
    background-color: black;
}

/*logo*/
#logo
{
    position: absolute;
    width: 75px;
    height: 60px;
    top: 10px;
    left: 700px;
}



#imagenTierra
{
    width: 100%;
    height: 100%;
    animation-name: tierra-rotacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes tierra-rotacion
{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }

    
}



/*menu*/
#menu
{
    width: 60%;
    height: 100%;
    background-color: black;
}

#menu ul 
{
    height: 100%;
}

#menu ul a li
{   
    float: left;
    width: 100px;
    height: 100%;
    line-height: 89px;
    list-style: none;
    text-align: center;
}

#menu ul a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#menu ul a:hover
{
    color: #ccc;
}

/*contenedor principal*/

#ContenedorPrincipal
{
    width:75%;
    height: 680px;
    overflow: auto;
    border: 2px solid white;
    border-top: none;
    margin: 0px auto;
    background-color: transparent;
   

}

#CajaPais
{
    width: 333px;
    height: 205px;
    background-color: white;
    margin: 20px;
    list-style: none;
    text-align: center;
    border-radius: 30px;
    float: left;
    
}

#ContenedorPrincipal  a
{
    text-decoration: none;
    font-style: oblique;
    color: black;
    line-height: 70px;
    
}

#cajaenlace
{
    width: 100%;
    height: 100%;
    
}

#cajaenlace h2
{
    
    font-size: 27px;
}

#cajaenlace p
{
    font-size: 20px;
    font-weight: bold;
}


#imagenP
{
    background:url('./img/img1.jpg');
}

#cajaenlace:hover 
{
    box-shadow: 0px 0px 20px black;
}

/*Buscador de pais*/
#buscador
{
    width: 600px;
    height: 92px;
    background-color: transparent;
    margin-right: 10px;
    position: absolute;
    left: 900px;
    top: -5px;
}

#buscador input[type="text"]
{
   
    width: 80%;
    height: 34px;
    margin-top: 30px;
    font-size: 17px;
    font-style: normal;
    font-family: arial;
}

/*menu de informacion pais*/

#menuInformaciones
{
    float: left;
    width: 18%;
    height:661px;
    background-color: black;
}

#menuInformaciones ul 
{
    width: 100%;
    height: 100%;
    list-style: none;
}

#menuInformaciones ul a
{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    

}

#menuInformaciones ul a li
{
    height: 65px;
    line-height: 65px;
}

#menuInformaciones ul a:hover
{
    color: black;
    transition: all 100ms;

}

#menuInformaciones ul a:hover li
{
   background-color: white;
   transition: all 300ms;
   

}

#menuInformaciones:hover
{
    box-shadow: 0px 0px 15px white inset;
}

/*informacion del pais*/

.ContenidoInformacion
{
    float: right;
    width: 82%;
    background-color: tomato;
    height: 661px;
    background-image: url('./img/img1.jpg');
}


.contenedorInformacionPais
{
        width: 80%;
        height: 646px;
        background-color: white;
        margin: 0px auto;
        margin-top: 8px;
        border-radius: 40px;
}

/*bandera*/
#cajaBandera
{
    width: 30%;
    margin: 0px auto;
    height: 170px;
    border: 2px solid black;
}

#cajaBandera img
{
    width: 100%;
    height: 100%;
}

.cajaDatos
{
    margin: 0px auto;
    width: 85%;
    background-color: transparent;
    height: 440px;
    margin-top: 8px;
    box-shadow: 0px 0px 10px gray;
    overflow: hidden;
}

.cajaDatos h1
{
    text-align: center;
    font-style: italic;
    font-size:  35px;
}

.cajaDatos p
{
    font-size: 24px;
    margin: 5px;
    text-align: center;

}

.izquierda
{
    float: left;
    margin-left: 190px;
}

.derecha
{
    margin: 0px auto;
    width: 176px;
    margin-left: 560px;
}


.resaltar
{
    font-weight: bold;
    text-align: justify;
}

#fronteras
{
    width: 50%;
    height: 300px;
    margin: 0px auto;
    
}

#fronteras p
{
    text-align: center;
    font-size: 24px;
}

/*lenguaje*/

.derecha ul
{
    list-style: none;
}