
<div id="buscador">
    <input type="text"  placeholder="Buscar Pais" name="BuscarPais" [(ngModel)]="BuscarPais"/>
    
</div>


<div id="imagenP">

    <div id="ContenedorPrincipal">

    
        <ul>
            <li id="CajaPais" *ngFor="let pais of Paises | busqueda:BuscarPais"> 
                <a href="#">
               <div id="cajaenlace">
    
                    <h2>{{pais.name}}</h2>
                    <p>{{pais.capital}}</p>
                    <p> {{pais.region}} </p> 
              </div>      
                </a>
            </li>        
           
        </ul>
    
    </div>


</div>

    








